@import "../../mixin.scss";

@mixin nav {
  display: flex;
  height: 80px;
  align-items: center;
  margin-right: 5.2%;
  justify-content: flex-end;
}

.nav {
  @include nav;
  @media (max-width: 590px) {
    display: none;
  }
  li {
    cursor: pointer;
    @include fond(500, 20px, 29px);
    color: #000000;

    &:nth-of-type(2) {
      margin: 0 2%;
    }
  }
}
.menu {
  display: none;
  @media (max-width: 590px) {
    @include nav;
  }
}
.nav_link{
  color: #000000;
}
.link{
  color: red;
}
